<div class="inputbtn">
  <form  action="/answer" method="get">
      <label for="give me a question">Give me a question :</label>
      <div  class="btn input">
        <input class="border-0" type="text" name="question" placeholder="Bla">
        <input class="border-0" type="submit" value="ask">
      </div>
  </form>
</div>
